<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HJPassword.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1865B9361E1DE14400EE2D8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1865B94F1E1DE14400EE2D8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1865B95A1E1DE14400EE2D8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
